{% extends "layout.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block main_content %}

<div class="col d-flex justify-content-center pt-3">
         <div class="container">
            <div class="d-flex justify-content-center">
               <div class="card bg-warning p-3 m-3 rounded col-md-6">
                  <div class="card-title fs-3 d-flex justify-content-between">
                      <div>Регистрация</div>
                      <div><a class="btn-link fs-5 text-primary" href="/login/">Авторизация</a></div>
                  </div>
                   <div class="card-body">
                       <form method="POST">
                           {% bootstrap_form form %}
                            {% csrf_token %}
                            {% bootstrap_button "Зарегистрироваться" button_type="submit" button_class="btn-success" %}
                       </form>
                   </div>
               </div>
            </div>
         </div>
</div>

{% endblock %}