<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
</head>

<body class="bg-light bg-gradient">
<header>
    <nav class="navbar navbar-expand-sm justify-content-center bg-info border-bottom box-shadow mb-3">
        <div class="container d-flex justify-content-start">
            <a class="navbar-brand text-dark" href="">E_T</a>
        </div>
        <div class="container d-flex justify-content-end">
            {% block user_info %}

            {% endblock %}
        </div>
    </nav>
</header>
<div class="container body-content">
    {% block content %}

    {% endblock %}
</div>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-light box-shadow">
    <div class="container">
        <a class="navbar-brand text-dark" href="">&copy; 2021</a>
    </div>
</nav>
{% bootstrap_javascript %}
</body>
</html>